* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    zoom: 90%;
    scroll-behavior: smooth;
  }
  .btnhover {
    transition: all 1s ease;
    transform: scale(1)
  }
  .btnhover:hover {
    transform: scale(1.15) perspective(1px);
  }
  body {
    font-size: 14px;
  }
  .bodycontent {
    padding-top: 680px;
    padding-left: 130px;
    margin-top: 680px;
    margin-left: 130px;
  }
  .v6_206 {
    width: 100%;
    height: 1949px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v6_208 {
    width: 339px;
    height: 83px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 70px;
    left: 1511px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 15px 20px 0.6rem rgba(0, 0, 0, 0.10000000149011612);
    overflow: hidden;
  }
  .v6_209 {
    width: 93px;
    height: 83px;
    background: linear-gradient(rgba(20,20,20,1), rgba(47,46,46,1));
    opacity: 1;
    position: absolute;
    top: 70px;
    left: 1757px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    overflow: hidden;
  }
  .v6_210 {
    width: 85px;
    color: rgba(111,151,235,1);
    position: absolute;
    top: 112px;
    left: 1220px;
    font-family: Quicksand;
    font-weight: SemiBold;
    font-size: 28px;
    opacity: 1;
    text-align: left;
  }
  .v6_211 {
    width: 133px;
    color: rgba(165,174,185,1);
    position: absolute;
    top: 100px;
    left: 900px;
    font-family: Quicksand;
    font-weight: SemiBold;
    font-size: 26px;
    opacity: 1;
    text-align: left;
  }
  .v6_212 {
    width: 110px;
    color: rgba(165,174,185,1);
    position: absolute;
    top: 100px;
    left: 1225px;
    font-family: Quicksand;
    font-weight: SemiBold;
    font-size: 26px;
    opacity: 1;
    text-align: left;
  }
  .v6_213 {
    width: 117px;
    color: rgba(20,20,20,1);
    position: absolute;
    top: 97px;
    left: 1575px;
    font-family: Quicksand;
    font-weight: SemiBold;
    font-size: 23px;
    opacity: 1;
    text-align: left;
  }
  .v6_214 {
    width: 104px;
    color: rgba(165,175,186,1);
    position: absolute;
    top: 100px;
    left: 771px;
    font-family: Quicksand;
    font-weight: SemiBold;
    font-size: 26px;
    opacity: 1;
    text-align: left;
  }
  .v6_215 {
    width: 50px;
    height: 5px;
    background: rgba(111,151,235,1);
    opacity: 1;
    position: absolute;
    top: 150px;
    left: 1258px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
  }
  .v6_216 {
    width: 10px;
    height: 5px;
    background: rgba(111,151,235,1);
    opacity: 1;
    position: absolute;
    top: 150px;
    left: 1240px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
  }
  .v6_219 {
    width: 18px;
    height: 26px;
    background: url("../static/Images/download.svg");
    opacity: 1;
    position: absolute;
    top: 98px;
    left: 1795px;
  }
  .v16_229 {
    width: 9.125rem;
    height: 9.125rem;
    background: url("../static/Images/logo.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2.125rem;
    left: 8.372rem;
    overflow: hidden;
  }
  #v49_25 {
    width: 93%;
    height: 304px;
    background: linear-gradient(rgba(235,180,201,0.9), rgba(240,222,218,0.7)),url("../static/Images/consultbanner.svg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 222px;
    left: 70px;
    border-top-left-radius: 72px;
    border-top-right-radius: 72px;
    border-bottom-left-radius: 72px;
    border-bottom-right-radius: 72px;
  }
  .v49_26 {
    width: 359px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 312px;
    left: 780px;
    font-family: Quicksand;
    font-weight: Bold;
    font-size: 100px;
    opacity: 1;
    text-align: left;
  }
  .v49_104 {
    width: 258px;
    height: 82px;
    background: linear-gradient(rgba(111,151,235,1), rgba(36,90,227,1));
    opacity: 1;
    position: absolute;
    top: 1256px;
    left: 134px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.10000000149011612);
    overflow: hidden;
  }
  .schedulebutton {
    width: 258px;
    height: 82px;
    background: linear-gradient(rgba(111,151,235,1), rgba(36,90,227,1));
    opacity: 1;
    top: 1750px;
    left: 134px;
    position: absolute;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 5px 5px 0.6rem rgba(0, 0, 0, 0.10000000149011612);
    overflow: hidden;
  }
  .v73_16 {
    width: 258px;
    height: 82px;
    background: linear-gradient(rgba(111,151,235,1), rgba(36,90,227,1));
    opacity: 1;
    position: absolute;
    top: 780px;
    left: 710px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 2px 20px 0.7rem rgba(0, 0, 0, 0.10000000149011612);
    overflow: hidden;
  }
  .v49_105 {
    width: 258px;
    height: 82px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 780px;
    left: 1050px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 2px 20px 0.7rem rgba(0, 0, 0, 0.10000000149011612);
    overflow: hidden;
  }
  .v49_106 {
    width: 173px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 25px;
    left: 80px;
    font-family: Quicksand;
    font-weight: Bold;
    font-size: 26px;
    opacity: 1;
    text-align: left;
  }
  .v73_17 {
    width: 162px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 28px;
    left: 55px;
    font-family: Quicksand;
    font-weight: Bold;
    font-size: 26px;
    opacity: 1;
    text-align: left;
  }
  .v73_14 {
    width: 105px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 30px;
    left: 90px;
    font-family: Quicksand;
    font-weight: Bold;
    font-size: 26px;
    opacity: 1;
    text-align: left;
  }
  .v49_107 {
    width: 162px;
    color: rgba(20,20,20,1);
    position: absolute;
    top: 28px;
    left: 85px;
    font-family: Quicksand;
    font-weight: Bold;
    font-size: 26px;
    opacity: 1;
    text-align: left;
  }
  .v73_10 {
    width: 666px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1050px;
    left: 150px;
    font-family: Quicksand;
    font-weight: Bold;
    font-size: 60px;
    opacity: 1;
    text-align: left;
  }
  .v73_15 {
    width: 744px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1528px;
    left: 134px;
    font-family: Quicksand;
    font-weight: Bold;
    font-size: 60px;
    opacity: 1;
    text-align: left;
  }
  .chatitle {
    width: 709px;
    font-size: 62px;
    top: 900px;
    left: 650px;
    text-align: center;
    position: absolute;
    font-family: Quicksand;
    font-weight: bold;
  }
  .startbutton {
    left: 870px;
    top: 1106px;
    width: 256px;
    height: 82px;
    position: absolute;
    background: linear-gradient(rgba(111,151,235,1), rgba(36,90,227,1));
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    opacity: 1;
    box-shadow: 0px 20px 0.6rem rgba(0, 0, 0, 0.10000000149011612)
  }
  .startext {
    color: white;
    position: absolute;
    top: 30px;
    left: 115px;
    font-family: Quicksand;
    font-weight: bold;
    font-size: 26px;
    opacity: 1;
    text-align: left;
  }
  .mainbox {
    left: 275px;
    top: 1200px;
    width: 1574px;
    height: 628px;
    position: absolute;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    opacity: 1;
    box-shadow: 0px 20px 0.6rem 5px rgba(0, 0, 0, 0.10000000149011612);
  }
  .inputbox {
    width: 1436px;
    height: 56px;
    bottom: 25px;
    left: 145px;
    position: absolute;
    background: #fff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px; 
    opacity: 1;
    box-shadow: 0px 20px 1rem rgba(0, 0, 0, 0.10000000149011612); 
  }
  .message1 {
    width: 679px;
    height: 82px;
    left: 1000px;
    top: 100px;
    position: absolute;
    background: linear-gradient(rgba(111,151,235,1), rgba(36,90,227,1));
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px; 
    opacity: 1;
    box-shadow: 0px 20px 1rem rgba(0, 0, 0, 0.10000000149011612);
  }
  .message2 {
    left: 69px;
    top: 300px;
    width: 482px;
    height: 82px;
    position: absolute;
    background: #F5F3F3;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;  
    opacity: 1;
    box-shadow: 0px 20px 1rem rgba(0, 0, 0, 0.10000000149011612);
  }
  .message3 {
    left: 1000px;
    top: 420px;
    width: 679px;
    height: 172px;
    position: absolute;
    background: linear-gradient(rgba(111,151,235,1), rgba(36,90,227,1));
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px; 
    opacity: 1;
    box-shadow: 0px 20px 1rem rgba(0, 0, 0, 0.10000000149011612);
  }