<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet" />
        <link href="../static/consultstyles.css" rel="stylesheet">
    </head>
    <body>

        <script type="text/javascript">
            
        </script>

        <div class="v6_206">
            <div class="v6_208"></div>
            <div class="v6_209"></div>
            <a href="consult.html"><div>
                <span class="v6_210">Consult</span>
                <div class="v6_215"></div>
                <div class="v6_216"></div>
            </div></a>
            <a href="community.html"><span class="v6_211">Community</span></a>
            <a href="selfcare.html"><span class="v6_212">Self Care</span></a>
            <span class="v6_213">Contact us </span>
            <a href="landing.html"><span class="v6_214">Home</span></a>
            <div class="v6_219"></div>
            <div class="v16_229"></div>
            <div id="v49_25"></div>
            <span class="v49_26">Consult</span>
            <button class="v49_104 btnhover" style="border-width:0px" onclick="window.scrollTo(top)">
                <span class="v49_106">book now</span>
            </button>
            <span class="v73_14">Schedule</span>
            <span class="v73_10">Get an appointment in 20 minutes</span>
            <span class="v73_15">Schedule an appointment as per your liking</span>
            <div id="maincontent" class="bodycontent">
                <!--Butttons-->
                <button class="v73_16 btnhover" style="border-width: 0rem">
                    <span class="v73_17">Appointments</span>
                </button>

                <button class="v49_105 btnhover" style="border-width: 0rem">
                    <span class="v49_107">Text chat</span>
                </button>
                <!--End-->

                <!--Body-->
                
                <!--End-->
            </div>
        </div>
    </body>
</html>
<br/><br/>