<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link href="../static/landingstyles.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="v3_32">
      <div class="v3_35"></div>
      <div class="v3_36"></div>
      <div class="Logo"></div>
      <a href="/consult"><span class="v3_37">Consult</span></a>
      <a href="/community"><p class="v3_38">Community</p></a>
      <a href="/self-care"><p class="v3_39">Self Care</p></a>
      <span class="v3_40">Contact us </span>
      <a href="/home"><div>
        <span class="v3_41">Home</span>
        <div class="v3_45"></div>
        <div class="v3_46"></div>
      </div></a>
      <div class="v3_42"></div>
      <div class="v3_43"></div> <div class="v3_44"></div>
      <span class="v3_47">Evexía</span>
      <span class="v3_49">Your health, our responsibility</span>
      <div class="v3_53"></div>
      <div class="v3_54"></div>
      <div class="v8_227"></div>
      <div class="v3_55"></div>
      <span class="v6_66"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</span
      >
      <div class="v6_68"></div>
      <span class="HealthCareTitle">Our mental healthcare offerings</span>
      <span class="v6_71"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</span
      >
      <span class="SelfCareTitle">Self Care</span>
      <span class="v6_85"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit
        amet, consectetur adipiscing elit, sed do<br><br> eiusmod tempor incididunt ut
        labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span
      >
      <a href="/self-care"><div class="v6_87 btnhover">
        <span class="DetailsBtn" style="top: 25%">Self Care</span>
      </div></a>
      <div class="Negosh"></div>
      <span class="ConsultTitle">Consult</span>
      <span class="v6_82"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit
        amet, consectetur adipiscing elit, sed do<br><br> eiusmod tempor incididunt ut
        labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span
      >
      <div class="v6_76"></div>
      <div class="v6_86"></div>
      <a href="/community"><div class="v6_77 btnhover">
        <span class="DetailsBtn" style=left:90px;top:25%>
          Community
        </span>
      </div></a>
      <div class="v6_101"></div>
      <a href="/consult"><div class="v6_83 btnhover">
        <span class="DetailsBtn">
          Consult
        </span>
      </div></a>
      <div class="v6_79"></div>

      <span class="CommunityTitle">Community</span>
      <span class="v6_75"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit
        amet, consectetur adipiscing elit, sed do<br><br> eiusmod tempor incididunt ut
        labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span
      >
      <div class="CommunityImg"></div>
      <div class="v6_90">
        <p class="WhyUs">Why Evexía?</p>
        <div class="WhyHelpline">
          <p class="TextParaWhyUs">
            Our treatment options can be accessed from wherever you might be,
            all 7 days a week.
          </p>
        </div>
        <div class="WhyTime">
          <p class="TextParaWhyUs" style=margin-left:115px>
            We provide personalised support in at max 20 minutes. Like, 1 on 1
            meetings with psychiatrists, psychologists and mental heath experts.
          </p>
        </div>
        <div class="WhyMethods">
          <p class="TextParaWhyUs" style=margin-left:69px>
            Our mental health care options are based on scientifically proven
            treatments & clinically validated approaches.
          </p>
        </div>
      </div>
      <div class="v6_94"></div>
      <span class="v6_96">What do you Struggle with</span>
      <span class="v6_100">Approach Us</span>
      <span class="v6_99"
        >We are providing help guides for various problems and challenges
        connected with mental health, so that you can get an unbiased view. Some
        of the most common issues are listed here, But you can get in touch with
        us directly for any issue you are struggling with that is not listed
        here.</span
      >
      <div class="v6_103"></div>
      <div class="v6_115"></div>
      <div class="v6_114"></div>
      <div class="v6_116"></div>
      <div class="v6_113"></div>
      <span class="v6_102">Depression</span>
      <span class="v6_121">Does your life feel impossible & hopeless?</span>
      <span class="v6_124"
        >Are your thoughts out of control & making you feel overwhelmed?</span
      >
      <span class="v6_127"
        >Is your use of alcohol interfering with your ability to lead your life
        fully?</span
      >
      <span class="v6_130"
        >Are your thoughts out of control & making you feel overwhelmed?</span
      >
      <span class="v6_122">You don’t have to manage it alone.</span>
      <span class="v6_125">You can get guidance on how to cope.</span>
      <span class="v6_128">You can find the right support.</span>
      <span class="v6_123">Get in touch</span>
      <input type="button" class="v6_126" onclick="window.scrollTo(top)" value="Learn More">
      <input type="button" class="v6_221" onclick="window.scrollTo(top)" value="Learn More">
      <input type="button" class="v6_129" onclick="window.scrollTo(top)" value="Learn More">
      <input type="button" class="v6_132" onclick="window.scrollTo(top)" value="Learn More">
      <span class="v6_118">Anxiety</span>
      <span class="v6_119">Obsessive Compulsive Disorder (OCD)</span>
      <span class="v6_120">Alcohol Addiction</span>
      <div class="v6_134"></div>
      <div class="v8_225"></div>
      <div class="v8_226"></div>
    </div>
    <script src="static/main.js"></script>
  </body>
</html>
<br /><br />
