<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet" />
        <link href="../static/selfcarestyles.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale-1.0">
    </head>
    <body>
        <div class="v49_30">
            <div class="v49_31"></div>
            <div class="v49_32"></div>
            <span class="v49_33">Consult</span>
            <span class="v49_34">Community</span>
            <span class="v49_35">Self Care</span>
            <span class="v49_36">Contact us </span>
            <span class="v49_37">Home</span>
            <div class="v49_38"></div>
            <div class="v49_39"></div>
            <div class="v49_41"></div>
            <div class="v49_42"></div>
            <div class="v49_46"></div>
            <div class="v49_44"></div>
            <span class="v49_45">Self Care</span>
            <span class="v73_92">Check your progress</span>
            <div class="progressbarfull"></div>
            <div class="progress"></div>
            <div class="v73_81"></div>
            <div class="v73_82"></div>
            <div class="v73_85"></div>
            <div class="v73_88"></div>
            <div class="v73_83"></div>
            <div class="v73_86"></div>
            <div class="v73_89"></div>
            <div class="v73_84"></div>
            <div class="v73_87"></div>
            <div class="v73_90"></div>
            <div class="v73_94"></div>
            <div class="v73_102"></div>
            <div class="v73_105"></div>
            <div class="v73_95"></div>
            <div class="v73_103"></div>
            <div class="v73_106"></div>
            <div class="v73_97"></div>
            <div class="v73_104"></div>
            <span class="v73_77">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </span>
            <div class="v73_13"></div>
            <span class="v73_111">Finish</span>
        </div>
    </body>
</html>
<br/><br/>