<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>

    <script type="text/javascript">
        function myFunction1() 
        {
            var x = document.getElementById("myDIV1");
            if (x.style.display === "none") 
            {
                x.style.display = "block";
            } 
            else 
            {
                x.style.display = "none";
            }
            var y = document.getElementById("myDIV2");
            if (y.style.display === "block") 
            {
                y.style.display = "none";
            } 
            else 
            {
                x.style.display = "block";
            }

        }
        function myFunction2() 
               {
            var x = document.getElementById("myDIV2");
            if (x.style.display === "none") 
            {
                x.style.display = "block";
            } 
            else 
            {
                x.style.display = "none";
            }
            var y = document.getElementById("myDIV1");
            if (y.style.display === "block") 
            {
                y.style.display = "none";
            } 
            else 
            {
                y.style.display = "block";
            }

        }
</script>

    <button onclick="myFunction1()">New Show 1</button>
    <button onclick="myFunction2()">New Show 2</button>

<div id="myDIV1">
  This is my DIV 1 element.
</div>
<div id="myDIV2">
  This is my DIV 2 element.
</div>

</body>
</html>